# Public URL
SOGO_FQDN=mail.feuerwehren-birkenau.de
SOGO_PAGE_TITLE=Feuerwehren Birkenau Groupware
SOGO_TIMEZONE=Europe/Berlin
SOGO_LANGUAGE=German
SOGO_MAIL_DOMAIN=feuerwehren-birkenau.de

# Local bind / container
SOGO_HTTP_BIND=127.0.0.1
SOGO_HTTP_PORT=20000
SOGO_WORKERS=3

# Database
SOGO_DB_ENGINE=mysql
SOGO_DB_HOST=db
SOGO_DB_PORT=3306
SOGO_DB_NAME=sogo
SOGO_DB_USER=sogo
SOGO_DB_PASSWORD=CHANGE_ME_DB_PASSWORD
SOGO_DB_ROOT_PASSWORD=CHANGE_ME_DB_ROOT_PASSWORD

# Memcached
SOGO_MEMCACHED_HOST=memcached

# Mail backend
IMAP_HOST=mail.ad.feuerwehren-birkenau.de
IMAP_PORT=143
IMAP_TLS=YES

SMTP_HOST=mail.ad.feuerwehren-birkenau.de
SMTP_PORT=587
SMTP_TLS=YES
SMTP_AUTH_TYPE=PLAIN

SIEVE_HOST=mail.ad.feuerwehren-birkenau.de
SIEVE_PORT=4190

# LDAP (UCS)
LDAP_HOST=dc01.ad.feuerwehren-birkenau.de
LDAP_PORT=7389
LDAP_BASE_DN=dc=ad,dc=feuerwehren-birkenau,dc=de
LDAP_BIND_DN=uid=sogo-ldap,cn=users,dc=ad,dc=feuerwehren-birkenau,dc=de
LDAP_BIND_PASSWORD=CHANGE_ME_LDAP_PASSWORD
LDAP_UID_FIELD=mailPrimaryAddress
LDAP_ID_FIELD=uid
LDAP_CN_FIELD=cn
LDAP_FILTER=(&(objectClass=person)(mailPrimaryAddress=*))

# Authentication mode
# Values: ldap | saml2
SOGO_AUTH_TYPE=ldap

# Optional SAML / Keycloak
SAML_LOGIN_ATTRIBUTE=mail
SAML_IDP_METADATA=/etc/sogo/saml/idp-metadata.xml
SAML_SP_CERT=/etc/sogo/certs/sogo.crt
SAML_SP_KEY=/etc/sogo/certs/sogo.key
SAML_LOGOUT_ENABLED=YES
SAML_LOGOUT_URL=https://sso.feuerwehren-birkenau.de/realms/ucs/account

# Optional paths
TZ=Europe/Berlin
